[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "==1.3.0"
click = "==8.1.8"
types-click = "==7.1.8"
jira = "==3.8.0"
pydantic = "==2.10.6"
requests = "==2.32.3"
types-requests = "==2.32.0.20250301"

[dev-packages]
towncrier = "==24.8.0"
mypy = "==1.15.0"
black = "==25.1.0"
pytest = "==8.3.5"
pytest-cov = "==6.0.0"
tbump = "==6.11.0"
sphinx = "==8.2.3"
sphinx-jsonschema = "==1.19.1"
ruff = "==0.9.9"
